<article class="container">
  <h1 class="light-blue-text text-darken-3 site-lead">abcdefghijklmnopqrstuvxyz</h1>
  <section class="reviews-wrap row">
    <section class="col s8 offset-s2 m8 offset-m2 l8 offset-l3 ">
      <ul class='review-list'>
        <li class='review-item'>
          <%= link_to "Plausible Hypotheses: Queyras' Poetic Equations", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "KERN-crete Poetics", kern_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "Our Biographies? Deleuze, DNS, and KME", their_bio_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "O! Clinamen On Malice:", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "Letter, Action, Language: Natalie Simpson's Thrum, Gertrude Stein's hapax legomena", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "How to Read: Charles Bernstein", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "Revolving door. Ron Silliman's Revolving door.", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "'Not Consistently Round': No Consistent Sound in Tom Raworth", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "Cuts of Thin Meat: Fonts Chime a Tut", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
      </ul>
    </section>
  </section>


</article>
